// Dimensions
$base-font-size: 16px;
$base-line-height: 1.5;
//$site-header-height: 130px;
//$article-header-height: 400px;

$site-width-max: 1665px;

// Colours
$color-flog-darkgray: #5b6065;
$color-body-text: #484236;
$color-flog-orange: #f36747;
$color-flog-blue: #0C555D;
$color-flog-gray: #CCDFCC;
$color-flog-lightgray: lighten(#f6f6ef, 3%);

// Break points
$break-tablet: 460px;
$break-phone-horizontal: 60em;
$break-phone-vertical: 60em;

// Fonts
$base-font-family: 'Merriweather', 'PT Serif', Georgia, serif;
