// Dimensions
$base-font-size: 16px;
$base-line-height: $base-font-size * 2;
$site-header-height: 130px;
$article-header-height: 400px;

$site-width-max: 1665px;

// Colours
$color-flog-orange: #f36747;

// @colorSiteBg: #f5f5ed;
// @colorHighlightBg: #ffffff;
// @colorBodyText: #333333;
// @colorMutedText: #a5a3a2;
// @colorMutedBlueText: #9099a3;
// @colorFlogOrange: #f36747;
// // @colorLink: rgb(80,80,80);
// @colorLink: @colorFlogOrange;
// @colorLinkHover: @colorLink;

// Break points
$break-tablet: 60em;
$break-phone-horizontal: 60em;
$break-phone-vertical: 60em;

// Fonts
$base-font-family: 'Merriweather', 'PT Serif', Georgia, serif;
