@import "lib/normalize";
@import "type";

* {
  @include box-sizing(border-box);
}

// Set the article header to be full height
html, body, .wrapper {
  min-height: 100%;
  height: 100%;
}
header.site {
  height: 99%;
  max-height: 58rem;
}
body {
  overflow-x: hidden;
  font: $base-font-size $base-font-family;
  line-height: $base-line-height;

  color: #353535;
  background: #ececec;
}

a {
  @include transition(color .2s);
}

// Anchors
#main {
  a {
    color: $color-flog-orange;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    @include border-radius(2px);
    &:hover {
      background-color: $color-flog-orange;
      color: #fff;
      text-decoration: none;
    }
  }
}


#main, header.site {
  max-width: $site-width-max;
  background: #fff;
  margin: 0 auto;
}
// // Typography
// h1, h2, h3, h4, h5, h6 {
//   text-transform: uppercase;
//   font-weight: 700;
//   color: #000;
//   text-rendering: optimizeLegibility;
// }
// p {
//   margin: 0 0 $base-line-height 0;
// }
// strong {
//   font-weight: bold;
// }
// em {
//   font-style: italic;
// }
// sup {
//   line-height: 0;
// }

// Site wide elements
header.site {
  $site-header-padding: 4rem;// $base-line-height * 2;
  position: relative;
  min-height: 40rem;

  background-color: #999;
  background: $color-flog-orange url(http://onwander.com/assets/splash/backgrounds/lost-d7765d3dbde4fc218a79cca4e8ce5e06.jpg) no-repeat 50% 0%;
  background-size: cover;

  // @include at-breakpoint($break-tablet) {

  // }

  // min-height: 44rem;

  &:before {
    $shadow-width: 58em;
    $shadow-color: rgba(0,0,0,0.2);
    content: '';
    width: $shadow-width;
    margin-left: -($shadow-width/2);
    height: 10em;
    position: absolute;
    bottom: -2em;
    left: 50%;
    z-index: 1;
    @include border-radius(3px);
    background-color: $shadow-color;
    @include box-shadow(0 0 3rem 0.5rem $shadow-color);
  }

  a {
    // color: inherit;
    color: $color-flog-orange;

    // text-shadow: 0 0 8px rgba(0,0,0,.5);
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Lato";
    font-size: 0.8em;
    font-weight: bold;

    display: block;
    letter-spacing: 0.3em;
    line-height: 2rem;
    padding: 0 0.2em;

    &:hover {
      color: #000;
    }

    // &.active {
    //   border-bottom: 2px solid;
    // }
  }

  nav {
    $logo-size: 4rem;
    $logo-padding: 0.5rem;

    padding-top: $site-header-padding; // space out from the top of the page
    padding-bottom: $site-header-padding / 2; // space out from the top of the page
    // height: $site-header-height - ($site-header-padding / 2);
    // margin-bottom: -$site-header-height - ($site-header-padding * 2) - 1px;

    // border-bottom: 1px solid rgba(255,255,255,0.5);

    a#logo {
      float: left;

      // @include opacity(0.9);
      // &:hover {
      //   @include opacity(0.99);
      // }

      h1 {
        font-family: "Cassannet Bold";

        float: left;
        width: $logo-size;
        height: $logo-size;
        line-height: $logo-size;
        // // padding: $logo-padding;
        margin-top: $logo-padding;
        margin-bottom: 0;
        text-align: center;
        vertical-align: middle;
        @include border-radius($logo-size);
        // background: url(../images/logo.png) no-repeat 50% 50%;
        // background-size: cover;
        background-color: $color-flog-orange;
        color: #fff;
        font-size: 1rem;
        letter-spacing: 0.05em;

        text-shadow: 0 0 1px $color-flog-orange;

        // overflow: hidden;
        // text-indent: -999em;
      }
    }

    ul {
      float: right;
      list-style: none;
      margin-top: 12px;
      // line-height: $logo-size - ($logo-padding * 2);

      li {
        display: inline-block;
        // margin-left: 2rem;
        // &:before {
        //   content: '/';
        //   color: #fff;
        //   margin-right: 1rem;
        // }
        // &:first-child {
        //   &:before {
        //     content: '';
        //   }
        //   margin-left: 0;
        // }

        a {
          line-height: 3rem;
          padding: 0 2rem;
          border: 3px solid transparent;

          &.active {
            color: $color-flog-orange;
            padding: 0 3rem;
            // border-color: $color-flog-orange;
          }
        }

      }
      li:last-child {
        a {
          padding-left: 1rem;
        }
      }
    }
  }

  .mast {
    $article-header-padding: 4rem;
    // min-height: 100%;
    // height: $article-header-height;
    padding-top: $article-header-padding;
    padding-bottom: $article-header-padding;
    font-family: Lato;
    font-weight: 300;

    > * {
      display: block;
      text-align: center;
    }
    time {
      font-size: 1.2rem;
      font-weight: 100;
    }
    h2 {
      font-family: $base-font-family;
      font-size: 3rem;
      font-weight: 400;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    p {
      font-style: italic;
      margin: 0 0 1rem 0;
      font-size: 1.5rem;
    }
  }
}

#main {
  article {

    .post {
      position: relative;
      margin-top: -8rem;
      background-color: #fff;
      @include border-radius(3px);
      padding-top: 5rem;
      z-index: 2;

      h1,h2,h3,h4,h5,h6 {
        color: #222;
        @include pull(1);
      }

      section {
        @include squish(2,2);

        .wide {
          @include pull(3);
          @include span-columns(18,12);
          margin-top: 2rem;
          margin-bottom: 2rem;
        }
      }
    }
  }

  footer {
    padding-bottom: 3rem;
    padding-top: 1rem;
    margin-top: 1rem;;
    // border-top: 2px solid #eee;
    font-family: "Lato", "Helvetica", sans-serif;

    div.top {
      @include span-columns(2 omega,12);
    }
    nav.content {
      @include push(2);
      @include span-columns(8,12);
      text-align: center;
    }
  }

  aside {
    border-top: 3px solid #eee;
    padding: 3rem 10rem 5rem;
    color: #777780;
    font-family: "Lato";
    // line-height: 1.25;
    h3 {
      font-family: inherit;
      font-size: 1.2rem;
      font-weight: bold;
      color: $color-flog-blue;
    }
    p {
      margin-bottom: 1rem;
    }
    img.headshot {
      position: absolute;
      margin-left: -7rem;
      margin-top: 2rem;
      width: 5rem;
      height: 5rem;
      @include border-radius(10rem);
      background: url(/images/headshot.jpg) no-repeat;
      @include box-shadow(0 0 5px rgba(0, 0, 0, .2));
    }
  }
}
