@import "lib/normalize";
@import "type";

* {
  @include box-sizing(border-box);
}

// Set the article header to be full height
html, body, .wrapper {
  min-height: 100%;
  height: 100%;
}
header.site {
  height: 99%;
}
body {
  overflow-x: hidden;
  font: $base-font-size / $base-line-height $base-font-family;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;

  color: #333;
  background: #ececec;
}

// Anchors
#main {
  a {
    color: $color-flog-orange;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    @include border-radius(2px);
    &:hover {
      background-color: $color-flog-orange;
      color: #fff;
      text-decoration: none;
    }
  }
}


#main, header.site {
  max-width: $site-width-max;
  background: #fff;
  margin: 0 auto;
}
// // Typography
// h1, h2, h3, h4, h5, h6 {
//   text-transform: uppercase;
//   font-weight: 700;
//   color: #000;
//   text-rendering: optimizeLegibility;
// }
// p {
//   margin: 0 0 $base-line-height 0;
// }
// strong {
//   font-weight: bold;
// }
// em {
//   font-style: italic;
// }
// sup {
//   line-height: 0;
// }

// Site wide elements
header.site {
  $site-header-padding: $base-line-height * 2;
  position: relative;
  min-height: $base-line-height * 25;

  background: $color-flog-orange url(http://onwander.com/assets/splash/backgrounds/lost-d7765d3dbde4fc218a79cca4e8ce5e06.jpg) no-repeat 50% 0%;
  background-size: cover;

  // @include at-breakpoint($break-tablet) {

  // }

  // min-height: 44rem;

  &:before {
    $shadow-width: 61.6rem;
    $shadow-color: rgba(0,0,0,0.2);
    content: '';
    width: $shadow-width;
    margin-left: -($shadow-width/2);
    height: 9.2rem;
    position: absolute;
    bottom: -1em;
    left: 50%;
    z-index: 1;
    @include border-radius(3px);
    background-color: $shadow-color;
    @include box-shadow(0 0 3rem 0.5rem $shadow-color);
  }

  a {
    color: #fff;
    text-shadow: 0 0 8px rgba(0,0,0,.5);
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Lato";
    font-size: 0.8em;
    font-weight: 600;
  }

  nav {
    $logo-size: 4rem;
    $logo-padding: 0.5rem;

    @include opacity(0.8);

    padding-top: $site-header-padding; // space out from the top of the page
    padding-bottom: $site-header-padding / 2; // space out from the top of the page
    // height: $site-header-height - ($site-header-padding / 2);
    // margin-bottom: -$site-header-height - ($site-header-padding * 2) - 1px;

    // border-bottom: 1px solid rgba(255,255,255,0.5);

    a#logo {
      float: left;
      h1 {
        float: left;
        width: $logo-size;
        height: $logo-size;
        line-height: $logo-size;
        // padding: $logo-padding;
        // margin-top: -$logo-padding / 2;
        text-align: center;
        vertical-align: middle;
        @include border-radius($logo-size);
        background: url(../images/logo.png) no-repeat 50% 50%;
        background-size: cover;
        color: $color-flog-orange;
        font-size: 1.2rem;
        text-shadow: none;
        overflow: hidden;
        text-indent: -999em;
      }
    }

    ul {
      float: right;
      list-style: none;
      line-height: $logo-size - ($logo-padding * 2);

      li {
        display: inline-block;
        margin-left: 1rem;
        &:before {
          content: '/';
          color: #fff;
          margin-right: 1rem;
        }
        &:first-child {
          &:before {
            content: '';
          }
          margin-left: 0;
        }
      }
    }
  }

  .mast {
    $article-header-padding: $base-line-height * 3;
    // min-height: 100%;
    // height: $article-header-height;
    padding-top: $article-header-padding;
    padding-bottom: $article-header-padding;
    font-family: Lato;
    font-weight: 300;

    > * {
      display: block;
      text-align: center;
    }
    time {
      font-size: 1.2rem;
      font-weight: 100;
    }
    h2 {
      font-family: $base-font-family;
      font-size: 3rem;
      font-weight: 400;
    }
    p {
      font-style: italic;
      margin-bottom: 0;
      font-size: 1.5rem;
    }
  }
}

#main {
  article {

    .post {
      position: relative;
      margin-top: -8rem;
      background-color: #fff;
      @include border-radius(3px);
      padding-top: 5rem;
      z-index: 2;

      h1,h2,h3,h4,h5,h6 {
        color: #222;
        @include pull(1);
        margin-top: 3rem;
        margin-bottom: 2rem;
      }

      section {
        @include squish(2,2);

        .wide {
          @include pull(3);
          @include span-columns(18,12);
          background: red;
        }
      }
    }
  }

  footer {
    padding-bottom: $base-line-height * 2;
    padding-top: $base-line-height;
    margin-top: $base-line-height;
    border-top: 1px solid #ccc;

    div.top {
      @include span-columns(2 omega,12);
    }
    nav.content {
      @include push(2);
      @include span-columns(8,12);
      text-align: center;
    }
  }
}
