@import "lib/normalize";
@import "type";

* {
  @include box-sizing(border-box);
}

// Set the article header to be full height
html, body, .wrapper {
  min-height: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
  font: $base-font-size $base-font-family;
  line-height: $base-line-height;

  color: $color-body-text;
  background: $color-flog-lightgray;
}

.hidden {
  display: none;
}

a {
  @include transition(color .2s);
}

ol, ul {
  &.unstyled {
    list-style: none;
    margin-left: 0;
    padding-left: 0;

    li {
      margin: 0;
    }
  }
}

// The mobile nav
#mobileNavBtn {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 1.5rem;
}

// Anchors
#main {
  max-width: $site-width-max;
  margin: 0 auto;

  a {
    color: $color-flog-orange;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    text-decoration: none;
    border-bottom: 1px dotted $color-flog-orange;
    @include border-radius(2px);

    &:hover {
      background-color: $color-flog-orange;
      color: #fff;
      text-decoration: none;
    }
  }
}

// Site wide elements
header.page {
  $site-header-padding: 4rem;// $base-line-height * 2;
  position: relative;
  //@include box-shadow(0 0 10px rgba(255,255,255,0.2));

  a {
    color: $color-flog-darkgray;
    // text-shadow: 0 0 8px rgba(0,0,0,.5);
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Lato";
    font-size: 0.8em;
    font-weight: bold;
    display: block;
    letter-spacing: 0.3em;
    line-height: 2rem;
    padding: 0 0.2em;

    &:hover {
      color: #000;
      text-decoration: underline;
    }
  }

  nav {
    $logo-size: 54px;
    $logo-padding: 0.5rem;
    padding-top: $site-header-padding; // space out from the top of the page
    padding-bottom: $site-header-padding / 2; // space out from the top of the page

    a#logo {
      float: left;
      h1 {
        float: left;
        position: relative;
        width: $logo-size;
        height: $logo-size;
        margin-top: $logo-padding;
        margin-bottom: 0;
        text-align: center;
        vertical-align: middle;
        font-size: 0.8rem;
        letter-spacing: 0;

        i {
          float: left;
          font-size: $logo-size;
        }

        span {
          float: left;
          position: absolute;
          left: $logo-size;
          letter-spacing: 0.3em;
          line-height: 2rem;
          padding: 1rem;
          @include opacity(0);
          @include transition(200ms all ease-out);
        }

        &:before {
          content: '';
          position: absolute;
          display: block;
          width: $logo-size;
          height: $logo-size;
          border: 2px solid $color-flog-darkgray;
          @include transition(200ms all ease-in-out);
          @include border-radius(100px);
          @include box-sizing(border-box);
          @include scale(1);
          @include opacity(0.5);
        }
      }

      h1 {
        &:hover {
          color: $color-flog-darkgray;
          span {
            @include transition(1000ms 400ms all ease-out);
            @include opacity(1);
          }
        }
        &:hover:before {
          @include scale(1.2);
          @include opacity(1);
        }
      }
    }

    ul {
      float: right;
      list-style: none;
      margin-top: 12px;

      li {
        display: inline-block;

        a {
          line-height: 3rem;
          padding: 0 2rem;
          border: 3px solid transparent;

          &.active {
            color: $color-flog-orange;
            // padding: 0 3rem;
          }

          i {
            font-size: 1.2rem;
            // position: absolute;
            // display: none;
          }
        }

      }
      li:last-child {
        a {
          padding-left: 1rem;
        }
      }
    }
  }
}

#main {

  .listing {
    .article-title {
      margin: 0 0 1em 0;
      padding: 0 0 1em 0;
      font-size: 1.5rem;
      border-bottom: 1px solid rgba(0,0,0,0.2);

      a {
        border-bottom: 0;
      }
      span {
        font-size: 1rem;
        line-height: 2em;
        float: right;
        width: 10em;
        text-align: right;
        color: rgba(0,0,0,0.5);
      }
    }
  }

}

footer.page {
  clear: both;
  padding-bottom: 3rem;
  padding-top: 1rem;
  margin-top: 1rem;;
  font-family: "Lato", "Helvetica", sans-serif;

  .links {
    list-style: none;
    text-align: center;
    li {
      display: inline-block;
      margin: 0.5rem;
      a {
        font-size: 1.5rem;
        text-decoration: none;
        color: lighten($color-body-text, 50%);
        &:hover {
          color: $color-body-text;
        }
      }
    }
  }

  .copyright {
    // border-top: 3px solid rgba(0,0,0,0.1);
    // margin-top: 2em;
    // padding-top: 1em;
    text-align: center;
    color: lighten($color-body-text, 50%);
  }
}