@import '_variables';

body {
  &.black {
    header.site {
      color: #111;
      a.active {
        border-color: #111;
      }
    }
  }

  &, &.dark {
    header.site {
      background-color: $color-flog-gray;
      color: #923e2b;
      .mast {
        font-size: 2em;
        h2 {
          color: inherit;
        }
      }
      a.active {
        border-color: $color-flog-orange;
      }
    }
  }

  &.orange {
    header.site {
      color: $color-flog-orange;
      a.active {
        border-color: $color-flog-orange;
      }
    }
  }

  &.light {
    header.site {
      color: #d0dbcb;
      a.active {
        border-color: #d0dbcb;
      }
    }
  }

  &.white {
  	header.site {
      color: #fff;
      a.active {
        border-color: #fff;
      }
  	}
  }
}