// The 960gs in ems
$total-columns: 12;
$column-width: 4em; // columns are 4em wide
$gutter-width: 1em; // with 1em gutters
$grid-padding: 2em; // and 1em padding on the grid container

$container-style: fixed;
$container-width: 60em;

.elastic {
  @include container;
}