@import "variables";
@import "compass";
@import "susy";

/* Smartphones (portrait and landscape) ----------- */
@media only screen /*and (min-device-width : 320px)*/ and (max-device-width : 480px) {
  body {
    // font-size: 12px;
  }
  #mobileNavBtn {
    display: block;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}

@include at-breakpoint(0 768px) {

}

@include at-breakpoint(0 640px) {
  body {
    font-size: 14px;
  }
  header.page {
    nav {
      padding-top: 1rem;
      padding-bottom: 1rem;

      a#logo {
        float: none;
        h1 {
          float: none;
          margin: 0 auto;
        }
      }

      ul {
        float: none;
        clear: both;

        li {
          float: none;
          display: block;
          margin: 0 0 1px 0;

          a, a.active {
            padding: 0 1rem;
            border: 0;
            background-color: $color-flog-orange;
            color: #fff;
          }
          a.active {
            text-decoration: underline;
          }
        }
      }
    }
  }
  #main article.post {
    max-width: none;

    h1, h2, h3, h4, h5, h6 {
      margin-left: 0;
      margin-right: 0;
      margin-top: 1em;
    }
    h2 {
      font-size: 2rem;
    }
    header time {
      margin: 1rem 0;
    }
    p {
      &.lead {
        &:first-child:first-letter {
          margin: 0;
        }
      }
    }
  }
}

@include at-breakpoint(0 320px) {
  body {
    font-size: 12px;
  }
  #mobileNavBtn {
    display: block;
  }
  header.page nav ul {
    display: none;
  }
}
