  <nav class="elastic-960">
    <a id="logo" href="/">
      <h1>Flog</h1>
    </a>

    <ul>
      <li><a href="/" class="active">Blog</a></li>
      <li><a href="http://github.com/adamburmister"><i class="icon-github"></i> Code</a></li>
      <li><a href="http://uk.linkedin.com/adamburmister"><i class="icon-linkedin"></i> Work</a></li>
      <li><a href="https://twitter.com/adamburmister"><i class="icon-twitter"></i> Rant</a></li>
    </ul>
  </nav>
