  <nav class="elastic">

    <a id="logo" href="/" <%= current_page.data.active_nav == "none" ? " class=active" : nil %>>
      <h1>
        <img src="/images/adamburmister.png" width="70" height="70">
        <span>Adam Burmister</span>
      </h1>
    </a>

    <ul>
      <li><a href="/blog/" <%= current_page.data.active_nav == "blog" || current_page.data.active_nav == nil ? " class=active" : nil %>>Blog</a></li>
      <!--<li><a href="/adam/" <%= current_page.data.active_nav == "info" ? " class=active" : nil %>>Adam</a></li>-->
      <li><a href="https://www.linkedin.com/in/adamburmister">Work</a></li>
      <li><a href="https://github.com/adamburmister">Code</a></li>
      <li><a href="https://twitter.com/adamburmister"><i class="icon-twitter"></i><span class="hidden">Rant</span></a></li>
    </ul>

    <a href="#" id="mobileNavBtn">
      <i class="icon-menu"></i>
    </a>
  </nav>
