<% wrap_layout :layout do %>
  <article>
    <div class="post elastic-960">
      <section>
        <%= yield %>
      </section>
    </div>
  </article>

  <footer class="elastic-960">
    <nav class="content">
      <a href="#">Previous</a> / <a href="#">Next</a>
    </nav>
    <!-- <div class="top">
      <a href="#headline">Back to top</a>
    </div> -->
  </footer>

  <aside class="elastic-960 sidebar">
    <img src="/images/headshot.jpg" alt="It's me!" class="circle headshot" />
    <h3>Kia Ora, I'm Adam Burmister.</h3>
    <p>I like to think of myself as the MacGyver of tech startups. Give me a random collection of creative ideas and technologies and I'll whip up a hang glider with rocket launchers. Or maybe a single-page-web-app. Whatever.</p>
    <p>Born in <a href="https://maps.google.com/maps?q=Tauranga,New+Zealand&hl=en&sll=-40.900557,174.885971&sspn=28.216141,57.084961&hnear=Tauranga,+Bay+Of+Plenty,+New+Zealand&t=m&z=12">New Zealand</a>, raised in <a href="https://maps.google.com/maps?q=Port+Vila,+Shefa+Province,+Vanuatu&hl=en&sll=-37.687797,176.16513&sspn=0.231479,0.445976&oq=Port+Vila&hnear=Port+Vila,+Shefa+Province,+Vanuatu&t=m&z=13">Vanuatu</a>, working in <a href="https://maps.google.com/maps?q=Angel,+London&hl=en&sll=-17.734818,168.322029&sspn=0.139305,0.222988&hq=Angel,&hnear=London,+United+Kingdom&t=m&z=13">London</a>. I get around.</p>
    <p>I rant at <a href="https://twitter.com/adamburmister">@adamburmister</a>, contribute code at <a href="http://github.com/adamburmister/">Github</a>, and network on <a href="http://www.linkedin.com/in/adamburmister">LinkedIn</a>, and spend my days as a co-founder at BackChat.io and Seneca.io doing software engineering (both frontend and backend), design, and the business side. You could say I'm a "full-stack" sort of guy.</p>
  </aside>
<% end %>