<% wrap_layout :layout do %>
  <article>
    <header>
      <div class="inner">
        <time><%= current_article.date.strftime "%d %B, %Y" %></time>
        <h2><%= current_article.title %></h2>
        <p class="subtitle"><%= current_article.data.subtitle %></p>
      </div>
    </header>
    <div class="post">
      <section>
        <%= yield %>
      </section>
    </div>
  </article>

  <footer>
    <div class="top">
      <a href>Back to top</a>
    </div>
    <nav class="content">
      <a href="#">Previous</a> / <a href="#">Next</a>
    </nav>
    <div class="links">
      <a href="http://twitter.com/adamburmister">Twitter</a>
    </div>
  </footer>
<% end %>