<% wrap_layout :layout do %>
  <article>
    <div class="post elastic-960">
      <section>
        <%= yield %>
      </section>
    </div>
  </article>

  <footer class="elastic-960">
    <div class="top">
      <a href>Back to top</a>
    </div>
    <nav class="content">
      <a href="#">Previous</a> / <a href="#">Next</a>
    </nav>
    <div class="links">
      <a href="http://twitter.com/adamburmister">Twitter</a>
    </div>
  </footer>
<% end %>