<% wrap_layout :layout do %>
  <article>
    <div class="post elastic-960">
      <section>
        <%= yield %>
      </section>
    </div>
  </article>

  <aside class="elastic-960">
    <img src="/images/headshot.jpg" alt="It's me!" class="circle headshot" />
    <h3>Kia Ora, I'm Adam Burmister.</h3>
    <p>I like to think of myself as the MacGyver of tech startups. Give me a random collection of creative ideas and technologies and I'll whip up a hang glider with rocket launchers. Or maybe a single-page-web-app. Whatever.</p>
    <p>Born in New Zealand, raised in Vanuatu, working in London. I get around.</p>
    <p>I rant at @adamburmister, and network on LinkedIn, and spend my days as a co-founder at BackChat.io and Seneca.io doing software engineering (both frontend and backend), design, and the business side. You could say I'm a "full-stack" sort of guy.</p>
  </aside>

  <footer class="elastic-960">
    <nav class="content">
      <a href="#">Previous</a> / <a href="#">Next</a>
    </nav>
    <div class="top">
      <a href="#headline">Back to top</a>
    </div>
  </footer>
<% end %>