<% content_for :head_javascript do %>
<%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js", "home" %>
<% end %>
<% content_for :head_stylesheet do %>
<%= stylesheet_link_tag "home" %>
<% end %>

<% content_for :header do %>
<% end %>

<% wrap_layout :layout do %>
<div id="wrapper">
  <h2 class="bio">
    <span lang="mi" class="inline-tip" title="That's a MÄori greeting, which us Kiwi's use as a friendly hello">Kia ora</span>,
    I'm Adam Burmister. I make beautiful products and websites for people. I also run my own startups.
  </h2>

  <div id="grid">
    <div class="item xero">
      <div class="uc-container">
        <div class="uc-initial-content">
          <img src="/images/home/xero/thumb.png" alt="I helped make Xero, the Beautiful Accounting Software" />
          <div class="zoom">
            <span class="icon-search"></span>
            <small>I helped make Xero, Beautiful Online Accounting Software</small>
          </div>
        </div>
        <div class="uc-final-content">
          <img src="/images/home/xero/expanded.jpg" alt="Xero's bank reconciliation screen" class="full" />
          <div class="title">
            <h4>Xero (application and homepage) <a href="http://www.xero.com" class="icon-link-ext"><span class="hidden">visit</span></a></h4>
            <h5>Senior frontend engineer</h5>
            <p>Xero is Webby Award winning Online Accounting Software.</p>
            <p>As a pre-IPO employee (dev hire #4) I had input into frontend engineering practices, backend accounting system and marketing website development.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="item bbc">
      <div class="uc-container">
        <div class="uc-initial-content">
          <img src="/images/home/bbc/thumb.png" alt="BBC Homepage" />
          <div class="zoom">
            <span class="icon-search"></span>
            <small>I lead development of the BBC homepage redesign</small>
          </div>
        </div>
        <div class="uc-final-content">
          <img src="/images/home/bbc/expanded.jpg" alt="The BBC Homepage" class="full" />
          <div class="title">
            <h4>BBC Homepage <a href="http://www.bbc.co.uk" class="icon-link-ext"><span class="hidden">visit</span></a></h4>
            <h5>Lead Developer</h5>
            <p>I was honoured to have the chance to work on the largest UK website.</p>
            <p>Brought in to inject a startup mentality to the BBC Public Service, I worked to re-architect a legacy CMS to a modulare, reusable, modern architecture, and lead a development team of 7.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="item backchat">
      <div class="uc-container">
        <div class="uc-initial-content">
          <img src="/images/home/backchat/thumb.png" alt="BackChat.io provides real-time message filtering as a service" />
          <div class="zoom">
            <span class="icon-search"></span>
            <small>I founded my first startup, BackChat.io to provide PaaS real-time social media filtering</small>
          </div>
        </div>
        <div class="uc-final-content">
          <img src="/images/home/backchat/expanded.jpg" alt="BackChat.io" class="full" />
          <div class="title">
            <h4>BackChat.io</h4>
            <h5>Founder, Product Development &amp; Engineering</h5>
            <p>BackChat.io provides real-time message filtering as a service. Collect, filter, enhance and route messages from a wide range of real-time data sources.</p>
            <p>As my first startup it's given me a wide range of skills: product conception, development, fund raising, marketing, sales, large contract negotiations, hiring, firing&hellip; every skill within the entrepreneurial sphere.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="item">
        <div class="uc-container">
        <div class="uc-initial-content">
          <img src="/images/home/seneca/thumb.png" alt="Seneca.io" />
          <div class="zoom">
            <span class="icon-search"></span>
            <small>Beautifully simple board reporting.</small>
          </div>
        </div>
        <div class="uc-final-content">
          <img src="/images/home/seneca/expanded.jpg" alt="Seneca.io" class="full" />
          <div class="title">
            <h4>Seneca.io <a href="http://www.seneca.io" class="icon-link-ext"><span class="hidden">visit</span></a></h4>
            <h5>Founder and CTO</h5>
            <p>Beautifully simple board reporting for startups and their boards. The UI is built with AngularJS, powered by a Rails CORS JSON API.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="item ironruby">
      <div class="uc-container">
        <div class="uc-initial-content">
          <img src="/images/home/ironruby/thumb.png" alt="IronRuby in Action" />
          <div class="zoom">
            <span class="icon-search"></span>
            <small>I wrote a book (released as ebook, but unprinted).</small>
          </div>
        </div>
        <div class="uc-final-content">
          <img src="/images/home/ironruby/expanded.jpg" alt="IronRuby in Action, front cover" class="full" />
          <div class="title">
            <h4>IronRuby in Action</h4>
            <h5>Co-author</h5>
            <p>I helped write a book on the Microsoft .NET Ruby dialect! Crazy, right?</p>
          </div>
        </div>
      </div>
    </div>

    <div class="non-resizable item hireme">
      <a href="mailto:adam.burmister@gmail.com?subject=Working+together" title="Email me">
        <img src="/images/home/hire/thumb.png" alt="Hire me" />
      </a>
    </div>
  </div>
</div>
<% end %>
