<% content_for :head_javascript do %>
<%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js",
                           "lib/jquery.isotope.min.js",
                           "lib/jquery.pfold.js" %>
<% end %>
<% content_for :head_stylesheet do %>
<%= stylesheet_link_tag "home" %>
<% end %>

<% content_for :header do %>
<% end %>

<% wrap_layout :layout do %>

<div id="wrapper">
  <div id="grid">
    <div class="item">
      <div class="uc-container">
        <div class="uc-initial-content">
          <img src="/images/headshot.jpg" alt="image01" />
          <span class="icon-eye"></span>
        </div>
        <div class="uc-final-content">
          <img src="/images/headshot.jpg" alt="image01-large" />
          <div class="title"><h4>BBC Homepage</h4> Lead Developer <a href="http://bbc.co.uk" class="icon-link"></a></div>
          <span class="icon-cancel"></span>
        </div>
      </div><!-- / uc-container -->
    </div>
    <div class="item">
          <div class="uc-container">
        <div class="uc-initial-content">
          <img src="/images/headshot.jpg" alt="image01" />
          <span class="icon-eye"></span>
        </div>
        <div class="uc-final-content">
          <img src="/images/headshot.jpg" alt="image01-large" />
          <div class="title"><h4>BBC Homepage</h4> Lead Developer <a href="http://bbc.co.uk" class="icon-link"></a></div>
          <span class="icon-cancel"></span>
        </div>
      </div><!-- / uc-container -->
    </div>
    <div class="item">
      <div class="uc-container">
        <div class="uc-initial-content">
          <img src="/images/headshot.jpg" alt="image01" />
          <span class="icon-eye"></span>
        </div>
        <div class="uc-final-content">
          <img src="/images/headshot.jpg" alt="image01-large" />
          <div class="title"><h4>BBC Homepage</h4> Lead Developer <a href="http://bbc.co.uk" class="icon-link"></a></div>
          <span class="icon-cancel"></span>
        </div>
      </div><!-- / uc-container -->
    </div>
    <div class="item">
      <div class="uc-container">
        <div class="uc-initial-content">
          <img src="/images/headshot.jpg" alt="image01" />
          <span class="icon-eye"></span>
        </div>
        <div class="uc-final-content">
          <img src="/images/headshot.jpg" alt="image01-large" />
          <div class="title"><h4>BBC Homepage</h4> Lead Developer <a href="http://bbc.co.uk" class="icon-link"></a></div>
          <span class="icon-cancel"></span>
        </div>
      </div><!-- / uc-container -->
    </div>
    <div class="item">
        <div class="uc-container">
        <div class="uc-initial-content">
          <img src="/images/headshot.jpg" alt="image01" />
          <span class="icon-eye"></span>
        </div>
        <div class="uc-final-content">
          <img src="/images/headshot.jpg" alt="image01-large" />
          <div class="title"><h4>BBC Homepage</h4> Lead Developer <a href="http://bbc.co.uk" class="icon-link"></a></div>
          <span class="icon-cancel"></span>
        </div>
      </div><!-- / uc-container -->
    </div>
    <div class="item">
        <div class="uc-container">
        <div class="uc-initial-content">
          <img src="/images/headshot.jpg" alt="image01" />
          <span class="icon-eye"></span>
        </div>
        <div class="uc-final-content">
          <img src="/images/headshot.jpg" alt="image01-large" />
          <div class="title"><h4>BBC Homepage</h4> Lead Developer <a href="http://bbc.co.uk" class="icon-link"></a></div>
          <span class="icon-cancel"></span>
        </div>
      </div><!-- / uc-container -->
    </div>
  </div>
</div>

<%= yield %>

<script>
var $grid = $('#grid')
// initialize Isotope
$grid.isotope({
  containerStyle: { overflow: 'visible', position: 'relative'},
  itemSelector : '.item',
  // options...
  resizable: false, // disable normal resizing
  // set columnWidth to a percentage of container width
  masonry: { columnWidth: $grid.width() / 3 }//,
  // getSortData : {
  //   symbol : function( $elem ) {
  //     return $elem.attr('data-symbol');
  //   },
  //   category : function( $elem ) {
  //     return $elem.attr('data-category');
  //   },
  //   number : function( $elem ) {
  //     return parseInt( $elem.find('.number').text(), 10 );
  //   },
  //   weight : function( $elem ) {
  //     return parseFloat( $elem.find('.weight').text().replace( /[\(\)]/g, '') );
  //   },
  //   name : function ( $elem ) {
  //     return $elem.find('.name').text();
  //   }
  // }
});

// update columnWidth on window resize
$(window).smartresize(function(){
  $grid.isotope({
    // update columnWidth to a percentage of container width
    masonry: { columnWidth: $grid.width() / 3 }
  });
});

// say we want to have only one item opened at one moment
var opened = false;

$grid.find('.uc-container').each(function(i) {
  var $item = $(this), direction;
  // switch( i ) {
  //   case 0 : direction = ['right','bottom']; break;
  //   case 1 : direction = ['left','bottom']; break;
  //   case 2 : direction = ['right','top']; break;
  //   case 3 : direction = ['left','top']; break;
  // }
  direction = ['right','bottom'];
  var pfold = $item.pfold( {
    folddirection : direction,
    speed : 600,
    onEndFolding : function() { opened = false; },
  });
  // $item.find( 'span.icon-eye' ).on( 'click', function() {
  //   console.log("Hi");
  //   if( !opened ) {
  //     opened = true;
  //     pfold.unfold();
  //   }
  // } ).end().find( 'span.icon-cancel' ).on( 'click', function() {
  //   pfold.fold();
  // });
});

$grid.delegate( '.item', 'click', function(){
  var duration = 300;
  var $active = $('.active');
  var $this = $(this);

  if($this.is($active)) {
    return;
  } else {
    var pfold = $active.find('.uc-container').data('pfold');
    if(pfold) {
      pfold.fold();
    }
    $active.toggleClass('active').animate({
      width: "19.5em",
      height: "19.5em"
    }, duration, function() {
      // $grid.isotope('reLayout')
    });
  }

  $this.toggleClass('active').animate({
    width: "39.5em",
    height: "39.5em"
  }, duration, function() {
    $grid.isotope('reLayout');
    setTimeout(function() {
      $this.find('.uc-container').data('pfold').unfold();
    }, 300)
  });
});

</script>

<% end %>
