<% content_for :head_javascript do %>
<%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js", "home" %>
<% end %>
<% content_for :head_stylesheet do %>
<%= stylesheet_link_tag "home" %>
<% end %>

<% content_for :header do %>
<% end %>

<% wrap_layout :layout do %>

<div id="wrapper">
  <h2>I'm Adam Burmister. I make beautiful websites and products.</h2>
  <div id="grid">
    <div class="item xero">
      <div class="uc-container">
        <div class="uc-initial-content">
          <img src="/images/home/xero/thumb.png" alt="I helped make Xero, the Beautiful Accounting Software" />
          <span class="icon-search zoom"></span>
        </div>
        <div class="uc-final-content">
          <img src="/images/home/xero/expanded.jpg" alt="Xero's bank reconciliation screen" class="full" />
          <div class="title"><h4>Xero (application and homepage)</h4> Senior frontend engineer</div>
        </div>
      </div><!-- / uc-container -->
    </div>

    <div class="item bbc">
      <div class="uc-container">
        <div class="uc-initial-content">
          <img src="/images/home/bbc/thumb.png" alt="BBC Homepage" />
          <span class="icon-search zoom"></span>
        </div>
        <div class="uc-final-content">
          <img src="/images/home/bbc/expanded.jpg" alt="The BBC Homepage" class="full" />
          <div class="title"><h4>BBC Homepage</h4> Lead Developer</div>
        </div>
      </div><!-- / uc-container -->
    </div>

    <div class="item backchat">
      <div class="uc-container">
        <div class="uc-initial-content">
          <img src="/images/home/backchat/thumb.png" alt="BackChat.io provides real-time message filtering as a service" />
          <span class="icon-search zoom"></span>
        </div>
        <div class="uc-final-content">
          <img src="/images/home/backchat/expanded.jpg" alt="BackChat.io" class="full" />
          <div class="title"><h4>BackChat.io</h4> Founder, Product Development &amp; Engineering</div>
        </div>
      </div><!-- / uc-container -->
    </div>

    <div class="item ironruby">
      <div class="uc-container">
        <div class="uc-initial-content">
          <img src="/images/home/ironruby/thumb.png" alt="IronRuby in Action" />
          <span class="icon-search zoom"></span>
        </div>
        <div class="uc-final-content">
          <img src="/images/home/ironruby/expanded.jpg" alt="IronRuby in Action, front cover" class="full" />
          <div class="title"><h4>IronRuby in Action</h4> Co-author</div>
        </div>
      </div><!-- / uc-container -->
    </div>

    <div class="item">
        <div class="uc-container">
        <div class="uc-initial-content">
          <img src="/images/home/seneca/thumb.png" alt="Seneca.io" />
          <span class="icon-search zoom"></span>
        </div>
        <div class="uc-final-content">
          <img src="/images/home/seneca/expanded.jpg" alt="Seneca.io" class="full" />
          <div class="title"><h4>Seneca.io</h4> Founder and CTO</div>
        </div>
      </div><!-- / uc-container -->
    </div>

    <div class="item hireme">
        <div class="uc-container">
        <div class="uc-initial-content">
          <img src="/images/home/hire/thumb.png" alt="Hire me" class="full" />
          <span class="zoom">
            <span class="icon-search"></span>
            <small>Looking to hire me?</small>
          </span>
        </div>
        <div class="uc-final-content">
          <img src="/images/headshot.jpg" alt="Adam Burmister" />
          <h3>Hi, I'm Adam Burmister</h3>
          <p>I'm available for hire for the following projects:</p>
          <p>Please email for more information.</p>
          <div class="title"><h4>Available for hire</h4></div>
        </div>
      </div><!-- / uc-container -->
    </div>
  </div>

  <footer class="elastic">
    <div class="copyright">
      <small>
        &copy; <%= Date.today.year %> Adam Burmister
      </small>
    </div>
  </footer>
</div>

<% end %>
