<% content_for :head_javascript do %>
<%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js", "home" %>
<% end %>
<% content_for :head_stylesheet do %>
<%= stylesheet_link_tag "home" %>
<% end %>

<% content_for :header do %>
<% end %>

<% wrap_layout :layout do %>

<div id="wrapper">
  <div id="grid">
    <div class="item">
      <div class="uc-container">
        <div class="uc-initial-content">
          <img src="/images/home/bbc/thumb.png" alt="BBC Homepage" />
          <span class="icon-search zoom"></span>
        </div>
        <div class="uc-final-content">
          <img src="/images/home/bbc/expanded.jpg" alt="The BBC Homepage" />
          <div class="title"><h4>BBC Homepage</h4> Lead Developer</div>
        </div>
      </div><!-- / uc-container -->
    </div>
    <div class="item">
          <div class="uc-container">
        <div class="uc-initial-content">
          <img src="/images/home/xero/thumb.png" alt="I helped make Xero, the Beautiful Accounting Software" />
          <span class="icon-search zoom"></span>
        </div>
        <div class="uc-final-content">
          <img src="/images/home/xero/expanded.jpg" alt="Xero's bank reconciliation screen" />
          <div class="title"><h4>Xero (application and homepage)</h4> Senior frontend engineer</div>
          <span class="icon-cancel"></span>
        </div>
      </div><!-- / uc-container -->
    </div>
    <div class="item">
      <div class="uc-container">
        <div class="uc-initial-content">
          <img src="/images/home/backchat/thumb.png" alt="BackChat.io provides real-time message filtering as a service" />
          <span class="icon-search zoom"></span>
        </div>
        <div class="uc-final-content">
          <img src="/images/home/backchat/expanded.jpg" alt="BackChat.io" />
          <div class="title"><h4>BackChat.io</h4> Founder, Product Development &amp; Engineering</div>
          <span class="icon-cancel"></span>
        </div>
      </div><!-- / uc-container -->
    </div>
    <div class="item">
      <div class="uc-container">
        <div class="uc-initial-content">
          <img src="/images/superman.jpg" alt="image01" />
          <span class="icon-search zoom"></span>
        </div>
        <div class="uc-final-content">
          <img src="/images/superman.jpg" alt="image01-large" />
          <div class="title"><h4>BBC Homepage</h4> Lead Developer <a href="http://bbc.co.uk" class="icon-link"></a></div>
          <span class="icon-cancel"></span>
        </div>
      </div><!-- / uc-container -->
    </div>
    <div class="item">
        <div class="uc-container">
        <div class="uc-initial-content">
          <img src="/images/superman.jpg" alt="image01" />
          <span class="icon-search zoom"></span>
        </div>
        <div class="uc-final-content">
          <img src="/images/superman.jpg" alt="image01-large" />
          <div class="title"><h4>BBC Homepage</h4> Lead Developer <a href="http://bbc.co.uk" class="icon-link"></a></div>
          <span class="icon-cancel"></span>
        </div>
      </div><!-- / uc-container -->
    </div>
    <div class="item">
        <div class="uc-container">
        <div class="uc-initial-content">
          <img src="/images/superman.jpg" alt="image01" />
          <span class="icon-search zoom"></span>
        </div>
        <div class="uc-final-content">
          <img src="/images/superman.jpg" alt="image01-large" />
          <div class="title"><h4>BBC Homepage</h4> Lead Developer <a href="http://bbc.co.uk" class="icon-link"></a></div>
          <span class="icon-cancel"></span>
        </div>
      </div><!-- / uc-container -->
    </div>
  </div>

  <footer class="elastic">
    <div class="copyright">
      <small>
        &copy; <%= Date.today.year %> Adam Burmister
      </small>
    </div>
  </footer>
</div>

<% end %>
