<% content_for :head_javascript do %>
<%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js",
                           "/javascripts/jquery.isotope.min.js" %>
<% end %>


<% content_for :header do %>
<% end %>

<% wrap_layout :layout do %>

<style>
/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */

#wrapper
{
  max-width: 60em; /* 960 px */
  margin: 0 auto;
}
#list {
  width: 100%;
}
.item {
  /*margin: 5px 1%;*/
  margin-bottom: 0.5em;
  -webkit-transition-property: height, width;
   -moz-transition-property: height, width;
    -ms-transition-property: height, width;
     -o-transition-property: height, width;
        transition-property: height, width;
  width: 19.5em;
  height: 19.5em;
  background: #ccc;
}
.item.tall {
  height: 39.5em;
  -webkit-transition-property: height, width;
   -moz-transition-property: height, width;
    -ms-transition-property: height, width;
     -o-transition-property: height, width;
        transition-property: height, width;
}
.item.wide {
  width: 39.5em;
}
</style>

<div id="wrapper">
  <div id="list">
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
  </div>
</div>

<%= yield %>

<script>
var $container = $('#list')
// initialize Isotope
$container.isotope({
  itemSelector : '.item',
  // options...
  resizable: false, // disable normal resizing
  // set columnWidth to a percentage of container width
  masonry: { columnWidth: $container.width() / 3 }//,
  // getSortData : {
  //   symbol : function( $elem ) {
  //     return $elem.attr('data-symbol');
  //   },
  //   category : function( $elem ) {
  //     return $elem.attr('data-category');
  //   },
  //   number : function( $elem ) {
  //     return parseInt( $elem.find('.number').text(), 10 );
  //   },
  //   weight : function( $elem ) {
  //     return parseFloat( $elem.find('.weight').text().replace( /[\(\)]/g, '') );
  //   },
  //   name : function ( $elem ) {
  //     return $elem.find('.name').text();
  //   }
  // }
});

// update columnWidth on window resize
$(window).smartresize(function(){
  $container.isotope({
    // update columnWidth to a percentage of container width
    masonry: { columnWidth: $container.width() / 3 }
  });
});

$container.delegate( '.item', 'click', function(){
  var duration = 500;
  $('.active').toggleClass('active').animate({
    width: "19.5em",
    height: "19.5em"
  }, duration);
  $(this).toggleClass('active').animate({
    width: "39.5em",
    height: "39.5em"
  }, duration, function() {
    // Animation complete.
    $container.isotope('reLayout')
  });;



  // $container.isotope('reLayout');
});

</script>

<% end %>
